input[type=text]
{
    border: 4px solid darkorange;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url(searchicon.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    
}
input[type=submit]
{
    border: none;
    background-color:darkorange;
    padding: 12px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}
input[type=submit]:hover
{
    background-color: darkorange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#city_name
{
    background-color: #FF8C00;
    color: white;
}

.section-wrapper {
    text-align: center;
    max-width: 800px;
    margin: 0px auto 10px;
    background: #ddd;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
}
.result-header{
	text-align: center;
    max-width: 800px;
    margin: 0px auto 10px;
	margin-top:30px;
	margin-bottom:0;
	background-color: darkorange;
	color:#fff;
	padding:10px 20px;
}
.section-wrapper span ,.result-header span{
    display: inline-block;
    width: 20%;
	vertical-align: top;
	float:left;
	word-wrap: break-word;
}
.section-wrapper:after,.result-header:after {
    display: block;
    content: '';
    clear: both;
}
.body-container-wrapper {
    padding: 0 15px;
}
.pagination {
    margin: 40px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
	text-align:center;
}

.pagination a {
    display: inline-block;
    color: #ccc;
    margin: 0 10px;
	text-decoration:none;
}

.pagination a.active {
    color: darkorange;
}
a.previous-link, a.next-link {
    background: darkorange;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}


ul.w3-ul.menu-wrapper
 > li {
    padding: 0;
    display: inline-block;
}ul.w3-ul.menu-wrapper {
    text-align: right;
}

ul.w3-ul.menu-wrapper
 > li > a {
    line-height: 80px;
    padding: 0 20px;
    display: block;
}

.banner-image {
    background-image: url(../../assets/images/banner-image.jpg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;
}.banner-image {}

.banner-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.46);
    height: 100%;
    width: 100%;
}

.banner-image h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 2px;
}
.page-center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}