

#search_box
{
    border: 2px solid #2196F3;
    border-radius: 10px;
    background-image: url(searchicon.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    padding: 12px 20px 12px 40px;
    text-align: left !important;
}

.widget-title
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-top: 4px solid rgba(0, 0, 0, 0.13);
  padding: 7px 0;
  
}
#view_all
{
    text-decoration: none;
    float: right;
}

#main_catageory_list
{
    margin-top: 60px;
}
ul
{
    list-style-type: none;
}
ul li a
{
  text-decoration: none;
  color: midnightblue;
}
ul li a:hover
{
    color: red;
}

.right_side_navigation
{
    border-top: 4px solid rgba(0, 0, 0, 0.13);
    padding: 8px 0;
    margin-top: 10px;
    
}

.top_most{
    padding-right:4px;float:left;
}
